html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: linear-gradient( to right, #c0c2c1 0%, #c0c2c1 50%, #ffffff 50%, #ffffff 100%);

}

div .kanye-half {
    padding-left: 50px;
    background-image: url('img/kanye.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 1080px;
}

.web-title {
	padding-top: 50px;
    font-family: helvetica, sans-serif;
    font-size: 72px;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 64px;
}

.playpause{
    padding-top: 15px;
}

.vertical-align {
    position: relative;
    padding-top: 220px;
}

.music {
    padding-top: 40px;
}

.ticker {
    padding-top: 10px;
}


.header1 {
    font-family: helvetica, sans-serif;
    font-size: 44px;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
}

.header2 {
    font-family: helvetica, sans-serif;
    font-size: 44px;
    color: #333333;
    font-style: normal;
    font-weight: bold;
    font-variant: small-caps;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 21px;
}

.header2 {
	padding-top: 50px;
    font-family: arial, sans-serif;
    font-size: 28px;
    color: #4d4d4d;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 40px;
}

.header3 {
	padding-top: 15px;
    font-family: arial, sans-serif;
    font-size: 24px;
    color: #4d4d4d;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    letter-spacing: 0.1px;
    line-height: 32px;
}
